@CHARSET "UTF-8";

#member {
	width:1604px;
	height:690px;
	border:2px solid #ccc;
	font-size:12px;
	background :#f2f2f2;
	text-align:center;
	padding:50px 0 0 80px;
}
#member h2 {
	text-indent:0;
	text-align:center;
	height:30px;
	line-height:30px;
}
#member #member_sidebar {
	width:300px;
	height:500px;
	margin:20px 400px 100px 310px;
	border:1px dashed #999;
}
#member #member_sidebar dl {
	width:250px;
	margin:15px auto;
}
#member #member_sidebar dl dt {
	height:40px;
	width:250px;
	line-height:40px;
	background:#999;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
#member #member_sidebar dl dd {
	height:40px;
	line-height:40px;
	background:#eee;
	font-weight:bold;
	text-align:center;
}
#member #member_sidebar dl dd a {
	display:block;
	color:#333;
	text-decoration:none;
	text-align:center;
	margin:0 20px 0 20px;
}
#member #member_sidebar dl dd a:hover {
	background:#ccc;
	
}
#member #member_main {
	width:590px;
	height:500px;
	margin:-602px 400px 500px 620px;
	border:1px dashed #999;

}
#member #member_main dl {
	width:500px;
	margin:15px auto;
	font-size:14px;
}
#member #member_main dl dt img{
	padding:5px 0 5px 120px;
	cursor:pointer;
	weight:100px;
	height:100px;
	margin:10px 400px 10px 200px; 
	border: 5px solid #ddd;
    padding: 5px;
    background: #fff;
	
}
#member #member_main dl dd {
	padding:10px 0;
	text-align:center;
	border-bottom:1px dashed #999;
}
#member #member_main table {
	width: 90%;
	margin: 10px auto;
	text-align: center;
	background: #ccc;
	margin-bottom: 0px;
}

#member #member_main table th, #member #member_main table td {
	height: 25px;
	line-height: 25px;
	background: #fff;
}

#member #member_main table td a {
	text-decoration: none;
	color: #333;
}

#member #member_main table td a:hover {
	text-decoration: underline;
}
#member_main .button{
	background: #E27575;
	border: none;
	margin:20px 70px;
	padding: 10px 25px 10px 25px;
	color: #FFF;
	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	text-shadow: 1px 1px 1px #9E3F3F;
	cursor: pointer;
}

#page_text {
	height:20px;
	clear:both;
	padding:50px 0 100px 0;
}
#page_text ul {
	text-align:center;
}
#page_text ul li {
	display:inline;
}
#page_text ul li a {
	color:#333;
}