@CHARSET "UTF-8";
#member {
	width:1524px;;
	height:690px;
	border:2px solid #ccc;
	font-size:12px;
	background :#f2f2f2;
	text-align:center;
	padding:80px;
}
#member h2 {
	text-indent:0;
	text-align:center;
	height:30px;
	line-height:30px;
}
#member #member_sidebar {
	width:300px;
	height:500px;
	margin:20px 400px 100px 310px;
	border:1px dashed #999;
}
#member #member_sidebar dl {
	width:250px;
	margin:15px auto;
}
#member #member_sidebar dl dt {
	height:40px;
	width:250px;
	line-height:40px;
	background:#999;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
#member #member_sidebar dl dd {
	height:40px;
	line-height:40px;
	background:#eee;
	font-weight:bold;
	text-align:center;
}
#member #member_sidebar dl dd a {
	display:block;
	color:#333;
	text-decoration:none;
	text-align:center;
	margin:0 20px 0 20px;
}
#member #member_sidebar dl dd a:hover {
	background:#ccc;
}
#member #member_main {
	width:590px;
	height:500px;
	background:#eee;
	margin:-602px 400px 500px 620px;
	border:1px dashed #999;

}
#member #member_main dl dd {
	margin:10px 100px;
	font-size:20px;
	line-height:150%;
}
#member #member_main dl dd input {
	width:50px;
	height:20px;
	font-size:12px;
	cursor:pointer;
	margin:5px 40px;
}
#member #member_main dl dd.button {
	text-align:center;
	
}
